.btn {
  background-color: #f57d00;
  border: 0;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
  transition: 0.3s ease all;
  cursor: pointer;
}

.btn:hover {
  background-color: #000000;
  border: 0;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
}
