.container {
}

.content {
  display: flex;

  padding: 20px;
  gap: 20px;
}

.content .details p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.content img {
  max-width: 300px;
}

.content .details p:nth-of-type(2) {
  font-size: 0.75rem;
  font-weight: 300;
}

.content .details p:nth-of-type(3) {
  font-size: 1.75rem;
  font-weight: bold;
}

.content .details p:nth-of-type(4) {
  font-weight: 400;
}

.content .details p:nth-of-type(5) {
  margin-top: 40px;
}
